
section()
    hgroup(class="title")
      h1 Log in.
      h2 Enter your user name and password below.

      - if ('undefined' !== typeof errors && errors.length)
        ul#errors
        - each error in errors
            li.error= error

    section(class="social", id="socialLoginForm")    
        form(method="post")
            h2 Use another service to log in
            div(class="message-info")
                p 
                    | To let users of this site log in using their accounts from other sites such as Facebook, Twitter, 
                    | and Windows Live, you must update this site. For more information
                    a(href="http://go.microsoft.com/fwlink/?LinkId=255183&clcid=0x409", target="_blank") click here
                    |.
              
            // to use OAuth logins:
            // - uncomment the fieldset below that contains the oauth providers
            // - create an API key for each service, and put those keys in settings.json (see settings.example.json)
                        
            
            fieldset
                legend Log in using another service
                a.fb_button_medium(href='/auth/google', class="button")
                    img(src=base + '/images/facebookLogin.png')

