body
{
    border:0px;
    width:640px;
    /*height:960px;*/
}
#body
{
    padding-left:10px;
}

.panel
{
    position: relative;
	width: 400px;
	height: 600px;

}

.graph{
    position:absolute;
	width: 300px;
	height: 300px;
}
.legend{
    position:absolute;
    left:300px;
	width: 100px;
	height: 100px;
}

.hidden
{
    display:none;
}

.selector .item {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	border:4px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Trebuchet MS;
	font-size:18px;
	font-weight:bold;
	padding:7px 14px;
	text-decoration:none;
    cursor: pointer;
}
.selector .item:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;
}
.selector .item:active {
	position:relative;
	top:1px;
}

.tooltip
{
    position:fixed;
    width:100px;
    border: 1px solid #fdd;
	padding: 2px;
	background-color: #fee;
	opacity: 0.80;
    z-index:10;
    cursor:default;
}
.table-detail
{
    position:absolute;
    top:320px;
}

.cell:first-child
{
    width:30px;
}
.cell:nth-child(2)
{
    width:40px;
}
